{{ 'plugin.feedback.email.intro'|trans({'%siteName%': siteName})|raw }}<br><br><br>


<b>{{ 'plugin.feedback.email.details_txt'|trans }}</b><br>
==========================<br><br>

{% if name %}
    {{ 'plugin.feedback.email.name'|trans }}: {% autoescape 'html' %}{{ name }}{% endautoescape %}<br>
{% endif %}
{% if profile %}
    {{ 'plugin.feedback.email.profile'|trans }}: <a href="{{ profile }}">{{ profile }}</a><br>
    {{ 'plugin.feedback.email.profile_txt'|trans }}<br>
{% endif %}
{% if email %}
    {{ 'plugin.feedback.email.email'|trans }}: {% autoescape 'html' %}{{ email }}{% endautoescape %}<br>
{% endif %}
{% if page %}
    {{ 'plugin.feedback.email.page'|trans }}: {{ page }}<br>
{% endif %}
<br><br>

<b>{{ 'plugin.feedback.email.subject'|trans }}</b><br>
==========================<br><br>
{% autoescape 'html' %}
{{ subject }}
{% endautoescape %}<br><br>

<b>{{ 'plugin.feedback.email.message'|trans }}</b><br>
==========================<br><br>

{% autoescape 'html' %}
{{ message|nl2br }}
{% endautoescape %}
<br><br><br>

