{{ 'plugin.feedback.email.intro'|trans({'%siteName%': siteName})|raw }}<br><br><br>


<b>{{ 'plugin.feedback.email.details_txt'|trans }}</b><br>
==========================<br><br>

{% if name %}
    {{ 'plugin.feedback.email.name'|trans }}: {{ name }}<br>
{% endif %}
{% if profile %}
    {{ 'plugin.feedback.email.profile'|trans }}: <a href="{{ profile }}">{{ profile }}</a><br>
    {{ 'plugin.feedback.email.profile_txt'|trans }}<br>
{% endif %}
{% if email %}
    {{ 'plugin.feedback.email.email'|trans }}: {{ email }}<br>
{% endif %}
{% if page %}
    {{ 'plugin.feedback.email.page'|trans }}: {{ page }}<br>
{% endif %}
{% if subject %}
    {{ 'plugin.feedback.email.subject'|trans }}: {{ subject }}<br>
{% endif %}
<br><br>

<b>{{ 'plugin.feedback.email.message_txt'|trans }}</b><br>
==========================<br><br>

{% autoescape 'html' %}
{{ message|nl2br }} <br><br><br>
{% endautoescape %}
